body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button {
  background-color: rgb(200,200,200);
  border-radius: 3px;
  border: none;
  cursor: pointer;  
}